*{
	margin:0;
	padding:0;
}
.contain .section #color{
	background-color:#fff;
}

.contain{
	position:relative;
	width:100%;
	height:100vh;
	overflow:auto;
	scroll-snap-type:y mandatory;
}
.contain .section{
	position:relative;
	width:100%;
	height:100%;
	scroll-snap-align:start;
	background-blend-mode:multiply;
}
.contain .section:nth-child(1){
	background: url("../image/code.jpg");
	background-size:cover;
	background-attachment:fixed;
}
.contain .section:nth-child(2){
	background: url("../image/sql.jpg");
	background-size:cover;
	background-attachment:fixed;
}
.contain .section:nth-child(3){
	background: url("../image/pff.jpg");
	background-size:cover;
	background-attachment:fixed;
}
.contain .section .content{
	position:absolute;
	bottom:250px;
	left:50px;
	max-width:700px;
}
.contain .section .content h3{
	background:#fff;
	color:#111;
	font-weight:600;
	display:inline-block;
	padding:10px 20px;
	font-size:5em;
}
.contain .section .content p{
	font-family:MS Gothic;
	background:#fff;
	color:#111;
	font-weight:300;
	padding:10px 20px;
	margin-top:10px;
}
.contain .section .content a{
	font-family:MS Gothic;
	background:#fff;
	color:#111;
	font-weight:300;
	padding:10px 20px;
	margin-top:10px;
}
.contain .section .content a:hover{
	background-color:transparent;
	text-decoration:none;
	color:red;
}
